body{
    background-color: #efefef;
}
.main{
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 160px;
    margin-right: 160px;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.media-object{
    width: 40px;
    height: 40px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}
.pageNav{
    float: right;
}
.panelPart{
    margin-top: 80px;
}
.questionCreator{
    font-size: 13px;
    font-weight: normal;
    color: #999999;
}
.questionbtngroup{
    float: right;
    margin-bottom: 30px;
}
.jumbotron{
    margin-left: 80px;
}
.errorbtn{
    float: right;
}