body{
    background-color: #efefef;
}
.main{
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 160px;
    margin-right: 160px;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.media-object{
    width: 40px;
    height: 40px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}
.pageNav{
    float: right;
}
.panelPart{
    margin-top: 80px;
}
.questionCreator{
    font-size: 13px;
    font-weight: normal;
    color: #999999;
}
.questionbtngroup{
    float: right;
}
.jumbotron{
    margin-left: 80px;
}
.errorbtn{
    float: right;
}
.btn-comment{
    float: right;
    margin: 15px 0;
}
.img-comment{
    margin-top: -10px;
    margin-bottom: 10px;
 }
.comment-tools{
    color: #999999;
    margin-top: 10px;
}
.comment-tools .icon{
    margin-right: 5px;
    font-size: 15px;
    cursor: pointer;
}
.comment-tools .active{
    color: #2aabd2;
}
.comment-tools .icon:hover{
    color: #2aabd2;
}
.questionHr{
    margin-top: 50px;
}
.subCommentHr{
    margin-top: 0;
}
.commentCnt{
    margin-top: -30px;
    margin-bottom: 15px;
}
.sub-comments{
    border-radius: 5px;
    border: 1px solid #eeeeee;
}
.sub-comment-area{
    margin-top: 10px;
}
.sub-comment-btn{
    margin: 10px 0;
}
.tagItem{
    margin-right: 5px;
}
.relatedItem{
    text-decoration:none;
    font-size: 16px;
}
.btn-tag{
    margin: 5px 5px 0 5px;
}
.public-title-hr{
    margin-bottom: 5px;
}
.footer{
    color: #666666;
    font-size: 14px;
    text-align: center;
    margin-bottom: 30px;
}
