<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="css/community.css"/>
    <script type="text/javascript" src="jquery/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript">
        window.onload=function () {
            let isClose = window.localStorage.getItem("isClose");
            if(isClose){
                window.close();
                window.localStorage.removeItem("isClose");
            }
        }
    </script>
</head>
<body>
<div th:insert="navgation :: nav"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp发现</h2><hr>

            <div class="media" th:each="question : ${pageInfo.list}">
                <div class="media-left">
                    <a href="">
                        <img class="media-object img-rounded" th:src="${question.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <a th:href="'/question/'+${question.id}"><h4 class="media-heading" th:text="${question.title}"></h4></a>
                    <span class="text-desc"><span th:text="${question.viewCount}"></span> 个浏览 • <span th:text="${question.commentCount}"></span> 个回复 • <span th:text="${question.likeCount}"></span> 个点赞 • <span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:MM')}"></span></span>
                </div><hr>
            </div>

            <!--   分页         -->
            <nav class="pageNav" aria-label="Page navigation" th:if="pageInfo.pages!=0">
                <ul class="pagination">
                    <li th:if="${pageInfo.navigateFirstPage!=1}">
                        <a  aria-label="Previous" th:href="@{'?pageNum='+${1}}">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pageInfo.hasPreviousPage}">
                        <a href="#" aria-label="Previous" th:href="@{'?pageNum='+${pageInfo.getPageNum()-1}}">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>

                    <li th:each="page : ${pageInfo.navigatepageNums}" th:class="${pageInfo.pageNum == page?'active':''}"><a th:text="${page}" th:href="@{'?pageNum='+${page}}"></a></li>

                    <li th:if="${pageInfo.hasNextPage}">
                        <a href="#" aria-label="Next" th:href="@{'?pageNum='+${pageInfo.getPageNum()+1}}">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pageInfo.navigateLastPage!=pageInfo.pages}">
                        <a aria-label="Next" th:href="@{'?pageNum='+${pageInfo.pages}}">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-3 col-md-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-fire"></span>&nbsp热门话题</h2>
        </div>
    </div>
</div>
</body>
</html>
