<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <script type="text/javascript" src="/jquery/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
</head>
<body>
<div th:insert="navgation :: nav"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <h2><span th:text="${sectionName}"></span></h2><hr>
            <!--我的问题-->
            <div th:if="${section == 'questions'}" class="media" th:each="question : ${pageInfo.list}">
                <div class="media-left">
                    <a>
                        <img class="media-object" th:src="${question.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <a th:href="'/question/'+${question.id}"><h4 class="media-heading" th:text="${question.title}"></h4></a>
                    <span class="text-desc"><span th:text="${question.viewCount}"></span> 个浏览 • <span th:text="${question.commentCount}"></span> 个回复 • <span th:text="${question.likeCount}"></span> 个点赞 • <span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:MM')}"></span></span>
                </div><hr>
            </div>
            <!--   通知         -->
            <div class="media" th:if="${section == 'notification'}" th:each="notification : ${pageInfo.list}">
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="#" th:text="${notification.notifierName}"></a>
                        <span th:text="${notification.typeName}"></span>
                        <a th:href="'/notification/'+${notification.id}"><span th:text="${notification.outerTitle}"></span></a>
                        <span th:if="${notification.status == 0}" class="badge">未读</span>
                    </h4>
                    <span th:text="${#dates.format(notification.gmtCreate,'yyyy-MM-dd HH:MM')}" class="pull-right"></span>
                </div><hr>
            </div>

            <!--   分页         -->
            <nav class="pageNav" aria-label="Page navigation" th:if="${pageInfo.navigateFirstPage!=0}">
                <ul class="pagination">
                    <li th:if="${pageInfo.navigateFirstPage!=1}">
                        <a  aria-label="Previous" th:href="@{'?pageNum='+${1}}">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pageInfo.hasPreviousPage}">
                        <a href="#" aria-label="Previous" th:href="@{'?pageNum='+${pageInfo.getPageNum()-1}}">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>

                    <li th:each="page : ${pageInfo.navigatepageNums}" th:class="${pageInfo.pageNum == page?'active':''}">
                        <a th:text="${page}" th:href="@{'?pageNum='+${page}}"></a>
                    </li>

                    <li th:if="${pageInfo.hasNextPage}">
                        <a href="#" aria-label="Next" th:href="@{'?pageNum='+${pageInfo.getPageNum()+1}}">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pageInfo.navigateLastPage!=pageInfo.pages}">
                        <a aria-label="Next" th:href="@{'?pageNum='+${pageInfo.pages}}">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-3 col-md-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-user"></span>&nbsp个人中心</h2><hr>
            <div class="list-group">
                <a href="/profile/center" th:class="${section == 'center' ? 'list-group-item list-group-item-info' : 'list-group-item'}"><span class="glyphicon glyphicon-home"></span>&nbsp个人资料</a>
                <a href="/profile/questions" th:class="${section == 'questions' ? 'list-group-item list-group-item-info' : 'list-group-item'}"><span class="glyphicon glyphicon-edit"></span>&nbsp我的提问</a>
                <a href="#" class="list-group-item"><span class="glyphicon glyphicon-star"></span>&nbsp我的关注</a>
                <a href="/profile/notification" th:class="${section == 'notification' ? 'list-group-item list-group-item-info' : 'list-group-item'}"><span class="glyphicon glyphicon-comment"></span><span class="badge" th:text="${session.unreadCount}"></span>&nbsp;最新通知</a>
            </div>
        </div>
    </div>
</div>
<div th:insert="footer :: foot"></div>
</body>
</html>
