<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <script type="text/javascript" src="/jquery/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/community.js"></script>
    <script type="text/javascript" src="/js/moment.mini.js"></script>
</head>
<body>

<div th:insert="navgation :: nav"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <!--    问题描述框        -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 th:text="${question.title}"></h2><hr>
                <div th:class="questionCreator">
                    提问者：<span th:text="${question.user.name}"></span> |
                    提问时间：<span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:MM')}"></span> |
                    浏览数：<span th:text="${question.viewCount}"></span>
                </div>
                <div>
                    <span class="label label-info tagItem" th:each="tag : ${question.tag.split(',')}">
                        <span class="glyphicon glyphicon-tags"></span>
                        <span class="label label-info" th:text="${tag}"></span>
                    </span>
                </div>
                <hr>
                <div th:text="${question.description}"></div>

                <div class="questionbtngroup" th:if="${question.user.accountId == session.user.accountId}">
                    <a class="btn btn-danger" th:href="'/publish/'+${question.id}" role="button">编辑</a>
                    <a class="btn btn-info" href="#" role="button">删除</a>
                </div>
                <hr class="questionHr">
            </div>
            <!--    评论框        -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <img class="media-object img-rounded img-comment" th:src="${question.user.avatarUrl}">
                <input type="hidden" th:value="${question.id}" id="questionId">
                <textarea class="form-control" rows="6" id="questionComment"></textarea>
                <button type="button" class="btn btn-success btn-comment" onclick="postCommentToQuestion()">回复</button>
            </div>
            <!--    评论区     -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3 class="commentCnt"><span th:text="${question.commentCount}"></span>个回复</h3>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:each="comment : ${comments}">
                <div class="media">
                    <div class="media-left">
                        <a href="">
                            <img class="media-object img-rounded" th:src="${comment.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" th:text="${comment.user.name}"></h4>
                        <div th:text="${comment.content}"></div>
                        <div class="comment-tools">
                            <span class="glyphicon glyphicon-thumbs-up icon"></span>
                            <span class="glyphicon glyphicon-comment icon" th:data-id="${comment.id}" onclick="collapseComments(this)"><span th:text="${comment.commentCount}"></span></span>
                            <span class="pull-right" th:text="${#dates.format(comment.gmtCreate,'yyyy-MM-dd HH:MM')}"></span>
                        </div>
                        <!--     二级评论                       -->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse sub-comments" th:id="'comment-'+${comment.id}">

                            <!--       二级评论内容                     -->
<!--                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:each="comment : ${comments}">-->
<!--                                <div class="media">-->
<!--                                    <div class="media-left">-->
<!--                                        <a href="">-->
<!--                                            <img class="media-object img-rounded" th:src="${comment.user.avatarUrl}">-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                    <div class="media-body">-->
<!--                                        <h4 class="media-heading" th:text="${comment.user.name}"></h4>-->
<!--                                        <div th:text="${comment.content}"></div>-->
<!--                                        <div class="comment-tools">-->
<!--                                            <span class="pull-right" th:text="${#dates.format(comment.gmtCreate,'yyyy-MM-dd HH:MM')}"></span>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div><hr>-->
<!--                            </div>-->

                            <!--      二级评论框                      -->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-comment-area">
                                <input type="text" class="form-control" th:id="'input-'+${comment.id}">
                                <button type="button" class="btn btn-success pull-right sub-comment-btn" onclick="postCommentToComment(this)" th:data-id="${comment.id}">回复</button>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><hr class="subCommentHr"></div>

                        </div>
                    </div>
                </div><hr>
            </div>

        </div>

        <div class="col-lg-3 col-md-3 col-md-12 col-xs-12 panelPart">
            <div class="media">
                <div class="media-left">
                    <a href="">
                        <img class="media-object img-rounded" th:src="${question.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" th:text="${question.user.name}"></h4>
                </div>
            </div><hr>
            <h4>相关问题</h4>
            <div th:each="related : ${relatedQuestions}">
                <a class="relatedItem" href="" th:text="${related.title}"></a>
            </div>
        </div>
    </div>
</div>

</body>
</html>
