<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <script type="text/javascript" src="/jquery/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
</head>
<body>

<div th:insert="navgation :: nav"></div>

<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <h2 th:text="${question.title}"></h2><hr>
            <div th:class="questionCreator">
                提问者：<span th:text="${question.user.name}"></span> |
                提问时间：<span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:MM')}"></span> |
                回复数：<span th:text="${question.commentCount}"></span>
            </div><hr>
            <div th:text="${question.description}"></div><hr>

            <div class="questionbtngroup" th:if="${question.user.accountId == session.user.accountId}">
                <a class="btn btn-danger" th:href="'/publish/'+${question.id}" role="button">编辑</a>
                <a class="btn btn-info" href="#" role="button">删除</a>
            </div>

        </div>

        <div class="col-lg-3 col-md-3 col-md-12 col-xs-12 panelPart">
            <div class="media">
                <div class="media-left">
                    <a href="">
                        <img class="media-object img-rounded" th:src="${question.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" th:text="${question.user.name}"></h4>
                </div>
            </div><hr>
            <h4>相关问题</h4>
        </div>
    </div>
</div>

</body>
</html>
